.page-container {
    margin: 5rem 0rem 0rem 0rem
}

.title-card {
    text-align: center;
}

.full-name {
    /* white-space: nowrap; */
    width: 100%
}

.name {
    /* width: calc(50% - 0.5rem); */
    /* margin-right: 1rem; */
    display: inline-block;
}